<div class="container">
    <div class="container-body">
        <div class="form-register">
            <div class="form-header">
                <h3>BEM VINDO(A) DE VOLTA!</h3>
                <p>Estamos aqui para ajudar você a cuidar da sua saúde mental.</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="center">
                            <button type="submit" class="btn btn-primary center">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <p>Ainda não tem uma conta <a routerLink="/signup"> Cadastre-se</a></p>
        </div>

        <div class="hero-section">
            <img src="../../../assets/img/img-animation-out-of-box.png" alt="">
        </div>
    </div>
</div>