<div class="container">
    <div class="container-body">
        <div class="form-register">
            <div class="form-header">
                <h3>BEM VINDO(A) DE VOLTA!</h3>
                <p>Estamos aqui para ajudar você a cuidar da sua saúde mental.</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <form  [formGroup]="form" (ngSubmit)="onSubmit($event)">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                            @if(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)) {
                                <div class="error-msg">
                                {{ getErrorMessage('email') }}
                                </div>
                            }
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                                @if(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)) {
                                    <div class="error-msg">
                                    {{ getErrorMessage('password') }}
                                    </div>
                                }
                                </div>
                        <div class="center">
                            <button type="submit" class="btn btn-primary center" [disabled]="form.invalid">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <p>Ainda não tem uma conta <a routerLink="/signup"> Cadastre-se</a></p>
        </div>

        <div class="hero-section">
            <img src="../../../assets/img/img-animation-out-of-box.png" alt="">
        </div>
    </div>
</div>