.card {
    display: flex;
    justify-content: center;
    margin: 64px 48px 64px 24px;
}

.card-body {
    display: flex;
    padding: 26px;
}


.title {
    margin-top: 64px;
    margin-right: 64px;
    align-items: center;
}