<!-- <h3 class="m-4">Caixa de Ferramentas</h3>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6">
    
    <div class="card m-6">
        <div class="card-body">
            <img src="../../../../../assets/img/logo-controle-humor.png" alt="">
            <div class="card-detail">
                <h4>Controle de Humor</h4>
                <p>
                    O Controle de Humor permite que você registre e acompanhe suas emoções diárias,
                    ajudando a identificar padrões e promover o bem-estar. Comece a monitorar seu humor
                    e ganhe mais controle sobre suas emoções. <b>Experimente agora!</b>
                </p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <img src="../../../../../assets/img/logo-rpd.png" alt="">
            <div class="card-detail">
                <h4>RPD (Registro de Pensamento Disfuncional)</h4>
                <p>
                    O RPD (Registro de Pensamento Disfuncional) ajuda você a identificar e registrar
                    pensamentos automáticos negativos, promovendo uma visão mais clara de padrões
                    prejudiciais. Ao registrar esses pensamentos, você pode começar a questioná-los e
                    transformá-los, facilitando a prática da Terapia Cognitivo-Comportamental.
                    <b>Comece a reestruturar seus pensamentos agora!</b>
                </p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <img src="../../../../../assets/img/logo-controle-alimentar.png" alt="">
            <div class="card-detail">
                <h4>Diário Alimentar</h4>
                <p>
                    O Diário Alimentar permite que você registre suas refeições diárias, ajudando a identificar
                    padrões alimentares e a relação entre alimentação e humor. Essa ferramenta facilita o
                    acompanhamento da sua dieta e incentiva escolhas mais saudáveis.
                    <b>Comece a cuidar da sua alimentação hoje mesmo!</b>
                </p>
            </div>
        </div>
    </div>
        
    
    <div class="card">
        <div class="card-body">
            <img src="../../../../../assets/img/logo-pensamento-socratico.png" alt="">
            <div class="card-detail">
                <h4>Pensamento Socrático</h4>
                <p>
                    O Pensamento Socrático oferece uma abordagem para questionar e analisar crenças e
                    pensamentos, ajudando a desenvolver uma visão mais equilibrada e racional sobre
                    situações desafiadoras. Ao usar esta ferramenta, você pode explorar diferentes
                    perspectivas e encontrar respostas mais claras para suas questões. 
                    <b>Desafie seus pensamentos e descubra novas formas de ver o mundo!</b>
                </p>
            </div>
        </div>
    </div>

</div>
     -->

<div class="m-10">
    <h2 class="m-6 p-4 text-center">Caixa de Ferramentas</h2>
</div>
<!-- 
<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-1 ">
    <div class="max-w-150 border border-gray-500 shadow-md flex flex-col sm:flex-row p-6 m-4 bg-white rounded-lg">
        <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-4" src="../../../../../assets/img/logo-controle-humor.png" alt="Logo Controle de Humor">
        <div class="flex flex-col justify-center m-4">
            <h3 class="text-lg font-semibold mb-2">Controle de Humor</h3>
            <p class="text-gray-700">
                O Controle de Humor permite que você registre e acompanhe suas emoções diárias,
                ajudando a identificar padrões e promover o bem-estar. Comece a monitorar seu humor
                e ganhe mais controle sobre suas emoções. <b>Experimente agora!</b>
            </p>
        </div>
    </div>

    <div class="max-w-150 border border-gray-500 shadow-md flex flex-col sm:flex-row p-6 m-4 bg-white rounded-lg">
        <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-4" src="../../../../../assets/img/logo-rpd.png" alt="Logo Controle de Humor">
        <div class="flex flex-col justify-center m-4">
            <h3 class="text-lg font-semibold mb-2">RPD (Registro de Pensamento Disfuncional)</h3>
            <p class="text-gray-700">
                O RPD (Registro de Pensamento Disfuncional) ajuda você a identificar e registrar
                pensamentos automáticos negativos, promovendo uma visão mais clara de padrões
                prejudiciais. Ao registrar esses pensamentos, você pode começar a questioná-los e
                transformá-los, facilitando a prática da Terapia Cognitivo-Comportamental.
                <b>Comece a reestruturar seus pensamentos agora!</b>
            </p>
        </div>
    </div>

    <div class="max-w-150 border border-gray-500 shadow-md flex flex-col sm:flex-row  m-4 bg-white rounded-lg">
        <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-4" src="../../../../../assets/img/logo-controle-alimentar.png" alt="Logo Controle de Humor">
        <div class="flex flex-col justify-center m-4">
            <h3 class="text-lg font-semibold mb-2">Diário Alimentar</h3>
            <p class="text-gray-700">
                O Diário Alimentar permite que você registre suas refeições diárias, ajudando a identificar
                padrões alimentares e a relação entre alimentação e humor. Essa ferramenta facilita o
                acompanhamento da sua dieta e incentiva escolhas mais saudáveis.
                <b>Comece a cuidar da sua alimentação hoje mesmo!</b>
            </p>
        </div>
    </div>

    <div class="max-w-150 border border-gray-500 shadow-md flex flex-col sm:flex-row p-6 m-4 bg-white rounded-lg">
        <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-4" src="../../../../../assets/img/logo-pensamento-socratico.png" alt="Logo Controle de Humor">
        <div class="flex flex-col justify-center m-4">
            <h3 class="text-lg font-semibold mb-2">Pensamento Socrático</h3>
            <p class="text-gray-700">
                O Pensamento Socrático oferece uma abordagem para questionar e analisar crenças e
                pensamentos, ajudando a desenvolver uma visão mais equilibrada e racional sobre
                situações desafiadoras. Ao usar esta ferramenta, você pode explorar diferentes
                perspectivas e encontrar respostas mais claras para suas questões. 
                <b>Desafie seus pensamentos e descubra novas formas de ver o mundo!</b>
            </p>
        </div>
    </div>

</div> -->
<div class="flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-4 max-w-450 w-full">
        <div class="border border-gray-500 shadow-md flex flex-col sm:flex-row p-4 m-4 bg-white rounded-lg">
            <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-2" src="../../../../../assets/img/logo-controle-humor.png" alt="Logo Controle de Humor">
            <div class="flex flex-col justify-center m-2">
                <h3 class="text-lg font-semibold mb-2">Controle de Humor</h3>
                <p class="text-gray-700">
                    O Controle de Humor permite que você registre e acompanhe suas emoções diárias,
                    ajudando a identificar padrões e promover o bem-estar. Comece a monitorar seu humor
                    e ganhe mais controle sobre suas emoções. <b>Experimente agora!</b>
                </p>
            </div>
        </div>

        <div class="border border-gray-500 shadow-md flex flex-col sm:flex-row p-4  m-4 bg-white rounded-lg">
            <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-2" src="../../../../../assets/img/logo-rpd.png" alt="Logo RPD">
            <div class="flex flex-col justify-center m-2">
                <h3 class="text-lg font-semibold mb-2">RPD (Registro de Pensamento Disfuncional)</h3>
                <p class="text-gray-700">
                    O RPD (Registro de Pensamento Disfuncional) ajuda você a identificar e registrar
                    pensamentos automáticos negativos, promovendo uma visão mais clara de padrões
                    prejudiciais. Ao registrar esses pensamentos, você pode começar a questioná-los e
                    transformá-los, facilitando a prática da Terapia Cognitivo-Comportamental.
                    <b>Comece a reestruturar seus pensamentos agora!</b>
                </p>
            </div>
        </div>

        <div class="border border-gray-500 shadow-md flex flex-col sm:flex-row p-4  m-4 bg-white rounded-lg">
            <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-2" src="../../../../../assets/img/logo-controle-alimentar.png" alt="Logo Controle Alimentar">
            <div class="flex flex-col justify-center m-2">
                <h3 class="text-lg font-semibold mb-2">Diário Alimentar</h3>
                <p class="text-gray-700">
                    O Diário Alimentar permite que você registre suas refeições diárias, ajudando a identificar
                    padrões alimentares e a relação entre alimentação e humor. Essa ferramenta facilita o
                    acompanhamento da sua dieta e incentiva escolhas mais saudáveis.
                    <b>Comece a cuidar da sua alimentação hoje mesmo!</b>
                </p>
            </div>
        </div>

        <div class="border border-gray-500 shadow-md flex flex-col sm:flex-row p-4  m-4 bg-white rounded-lg">
            <img class="w-20 h-20 sm:w-24 sm:h-24 object-contain m-2" src="../../../../../assets/img/logo-pensamento-socratico.png" alt="Logo Pensamento Socrático">
            <div class="flex flex-col justify-center m-2">
                <h3 class="text-lg font-semibold mb-2">Pensamento Socrático</h3>
                <p class="text-gray-700">
                    O Pensamento Socrático oferece uma abordagem para questionar e analisar crenças e
                    pensamentos, ajudando a desenvolver uma visão mais equilibrada e racional sobre
                    situações desafiadoras. Ao usar esta ferramenta, você pode explorar diferentes
                    perspectivas e encontrar respostas mais claras para suas questões. 
                    <b>Desafie seus pensamentos e descubra novas formas de ver o mundo!</b>
                </p>
            </div>
        </div>
    </div>
</div>
