<div class="container mx-auto px-4">
    <footer class="flex flex-wrap justify-between items-center py-4 border-t">
        <div class="flex items-center">
            <a href="/" class="mr-2">
                <img src="../../../../../assets/img/logo.png" alt="Logo" class="h-40">
            </a>
            <span class="text-gray-600">Made by Elisariane ©2025</span>
        </div>

        <ul class="flex !space-x-4">
            <li>
                <a href="https://www.linkedin.com/in/elisarianebarbosa/" target="_blank">
                    <i class="fa-brands fa-linkedin text-xl text-black"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/@devlisab" target="_blank">
                    <i class="fa-brands fa-youtube text-xl text-black"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/Elisariane" target="_blank">
                    <i class="fa-brands fa-github text-xl text-black"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
