<div class="container">
    <div class="container-body">
        <div class="form-register">
            <div class="form-header">
                <h3>Crie sua conta e comece sua jornada!</h3>
                <p>Estamos prontos para ajudar você!</p>
            </div>

            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nome</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirme sua Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="center">
                            <button type="submit" class="btn btn-primary center">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>

            <p>Já tem uma conta? <a routerLink="/signin">Entrar</a></p>
        </div>

        <div class="hero-section">
            <img src="../../../assets/img/img-animation-out-of-box.png" alt="">
        </div>
    </div>
</div>